<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="showRoot">
  <div style="text-align:center">
    <h1>
      Welcome to Address Mapper!
    </h1>
  </div>
  <br><br><br>
  <h2 class="text-center">Please click on one of the below buttons to go to desired service.</h2>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary form-control" routerLink="/getZip"><b>Find Zip</b></button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success form-control" routerLink="/getAddress"><b>Find Address</b></button>
    </div>
  </div>
</div>
<div *ngIf="!showRoot">
  <button class="btn btn-danger" routerLink="/">Go Back</button>
</div>
<br><br>
<router-outlet></router-outlet>
