<div class="row">
  <div class="col-md-2">
    <label for="">Select Country*</label>
    <select class="form-control" name="countrySelect" (change)="getStatesForCountry()" [(ngModel)]="selected.country"
      [disabled]="!countries[0]">
      <option *ngFor="let country of countries" [value]="country">{{country}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="">Select State</label>
    <select class="form-control" name="stateSelect" (change)="getCitiesForState()" [(ngModel)]="selected.state"
      [disabled]="!selected.country">
      <option *ngFor="let state of states" [value]="state">{{state}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="">Select City</label>
    <select class="form-control" name="citySelect" [(ngModel)]="selected.city" [disabled]="!selected.state">
      <option *ngFor="let city of cities" [value]="city">{{city}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="">&nbsp;</label>
    <div>
      <button (click)="getZipForAddress()" class="btn btn-success">Get Zip</button></div>
  </div>
</div>
<div *ngIf="zipcode">
  <h3>Retrieved Zipcode: </h3><label for="">{{zipcode}}</label>
</div>
